<html>

<head>
<style>
	#canvas-container
	{
		margin-top: 100px;
		text-align:center ;
	}

	#click-area
	{
		border: 2px solid black;
		cursor: pointer;
		background-image: url('{{ url_for( 'static', filename = img_file ) }}');
		background-repeat: no-repeat;
		background-size: contain;
	}
</style>
</head>

<body>
	<div id = "canvas-container">
		<canvas id = 'click-area' width = '{{img_size[0]}}' height = '{{img_size[1]}}'></canvas>
	</div>
	<p id = 'info' align = 'center'>
	{% if message %}
	{{message}}
	{% endif %}
	</p>
	<form action = '/' method = 'post' align = 'center'>
	<input type = 'hidden' name = 'points' id = 'points'>
	<input type = 'submit' value = "Go, solve, Mandango!">
	</form>
</body>

<script type = 'text/javascript'>

	var points = new Array();
	const R = 3.5;
	const red = '#FF0000';

	document.getElementById('click-area').onclick = function clickEvent(e)
	{
		var canvas = e.target;
		var rect = e.target.getBoundingClientRect();
		var x = e.clientX - rect.left;
		var y = e.clientY - rect.top;
		
		if (canvas.getContext)
		{
			var ctx = canvas.getContext('2d');
			ctx.beginPath();
			ctx.arc(x, y, R, 0, 2 * Math.PI, false);
			ctx.lineWidth = 3;
			ctx.fillStyle = red;
			ctx.strokeStyle = red;
			ctx.fill();			
			ctx.stroke();
		}

		x = x.toFixed(3);
		y = y.toFixed(3);
		points.push( '[' + x + ', ' + y + ']' );
		document.getElementById('points').value = points;
		document.getElementById('info').innerHTML = 'You have selected ' + points.length + ' points.';
	}

</script>
</html>
